CMakeLists.txt.user
*/build/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*/.vscode/


!*/build/*.jpg
!*/build/*.png
